<h1>Акции</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Состояние</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Microsoft</td>
            <td>250$</td>
            <td>-3%</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Apple Corp</td>
            <td>600$</td>
            <td>+2%</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Yahoo</td>
            <td>150$</td>
            <td>-1%</td>
        </tr>
    </tbody>
</table>