.popover.primary {
    border-color: #337ab7;
}

.popover.primary>.arrow {
    border-top-color: #337ab7;
}

.popover.primary>.popover-title {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.popover.success {
    border-color: #d6e9c6;
}

.popover.success>.arrow {
    border-top-color: #d6e9c6;
}

.popover.success>.popover-title {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.popover.info {
    border-color: #bce8f1;
}

.popover.info>.arrow {
    border-top-color: #bce8f1;
}

.popover.info>.popover-title {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.popover.warning {
    border-color: #faebcc;
}

.popover.warning>.arrow {
    border-top-color: #faebcc;
}

.popover.warning>.popover-title {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.popover.danger {
    border-color: #ebccd1;
}

.popover.danger>.arrow {
    border-top-color: #ebccd1;
}

.popover.danger>.popover-title {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.popover.primary {
    border-color: #337ab7;
}

.popover.primary>.arrow {
    border-top-color: #337ab7;
}

.popover.primary>.popover-title {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.popover.success {
    border-color: #d6e9c6;
}

.popover.success>.arrow {
    border-top-color: #d6e9c6;
}

.popover.success>.popover-title {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.popover.info {
    border-color: #bce8f1;
}

.popover.info>.arrow {
    border-top-color: #bce8f1;
}

.popover.info>.popover-title {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.popover.warning {
    border-color: #faebcc;
}

.popover.warning>.arrow {
    border-top-color: #faebcc;
}

.popover.warning>.popover-title {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.popover.danger {
    border-color: #ebccd1;
}

.popover.danger>.arrow {
    border-top-color: #ebccd1;
}

.popover.danger>.popover-title {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*
/*
/*

/* Style all input fields */

/* input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    box-shadow: -1px 1px #6610f236;
} */

/* Style the submit button */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

/* The message box is shown when the user clicks on the password field */

#message {
    display: block;
    background: #f8f9fa;
    color: #000;
    position: fixed;
    padding: 1px;
    margin-top: 86px;
    border: 1px #c5c5c5 solid;
    line-height: 90%;
    height: 229px;
    box-shadow: -1px 1px #6610f236;
}

p {
    margin-top: 0;
    margin-bottom: 10.7px;
}

#message p {
    /* padding: 10px 35px;*/
    font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    /*left: -35px;*/
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: #ffc107;
}

.invalid:before {
    position: relative;
    /*left: -35px;*/
    content: "✖";
}

/*Password checker*/

#divCheckPasswordMatch {
    display: none;
    background: #f8f9fa;
    color: #000;
    position: fixed;
    padding: 1px;
    margin-top: 277px;
    width: 258px;
    text-align: center;
    box-shadow: -1px 1px #6610f236;
    border: 1px #c5c5c5 solid;
}

#wand {
    width: 50px;
    height: 50px;
}