.overlay-menu {
    display: none;
    position: fixed;
    top: 40px;
    left: 15px;
    background: #ffffff;
    z-index: 100;
    padding: 25px;
    border-right: 1px #f2f2f2 solid;
    height: 100%;
}

.overlay-menu.open {
    display: block;
}

img {
    width: 100%
}

.item {
    border: 1px gray solid;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.dropdown-login {
    display: none;
    position: fixed;
    z-index: 100;
    background: white;
    right: 15px;
    top: 40px;
}

.buttons-logsignin {
    width: 50%;
}

.dropdown-login.open {
    display: block;
}

.try-it {
    text-align: center;
    margin-top: 12px;
}

.try-it .btn {
    widows: 250px;
}