<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- стили -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- /стили -->

    <title th:utext="${title}"></title>
</head>

<body>
    <div id="app" class="container-fluid">

        <!-- навигация -->
        <th:block th:include="/main_nav" v-else="isPortfolioOpen"/>
        <!-- /навигация -->

        <!-- контент -->
        <div id="content" class="container">
            <div class="row">
                <div class="col" v-if="isPortfolioOpen"></div>
                <div class="col" v-else="isPortfolioOpen">

                    <div id ="h2-table"><h2>Панель мониторинга портфелей</h2></div>
                    <div id = "table-content"><table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Номинальная стоимость</th>
                                <th>Рыночная стоимость</th>
                                <th>Акционная стоимость</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-on:click="buttonPortfolio">
                                <td>Портфель 1</td>
                                <td>100</td>
                                <td>150</td>
                                <td>90</td>
                            </tr>
                            <tr v-on:click="buttonPortfolio">
                                <td>Портфель 2</td>
                                <td>100</td>
                                <td>150</td>
                                <td>90</td>
                            </tr>
                            <tr v-on:click="buttonPortfolio">
                                <td>Портфель 3</td>
                                <td>100</td>
                                <td>150</td>
                                <td>90</td>
                            </tr>
                            <tr v-on:click="buttonPortfolio">
                                <td>Портфель 4</td>
                                <td>100</td>
                                <td>150</td>
                                <td>90</td>
                            </tr>
                        </tbody>
                    </table></div>
                </div>

                </div>
            <!-- всплывающее окно "содержание портфеля" -->
            <div class="dropdown-menu portfolio" v-bind:class="{ open: isPortfolioOpen }">
                <div class = "background-shadow">
                <h2 style="margin-left: 389px;">Просмотр портфеля</h2>
                <i v-on:click="buttonPortfolio" class="material-icons close">close</i>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Макс.</th>
                            <th>Мин.</th>
                            <th>Изм.</th>
                            <th>Изм. %</th>
                            <th>Объём</th>
                            <th>Время</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                        <tr>
                            <td>АК АЛРОСА</td>
                            <td>93</td>
                            <td>94</td>
                            <td>92</td>
                            <td>+0,57</td>
                            <td>+0,61%</td>
                            <td>4,19М</td>
                            <td>14:20:39</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /всплывающее окно "содержание портфеля" -->
        </div>
        <!-- /контент -->

        </div></div>

    <!-- Bootstrap-->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- /Bootstrap-->

    <!-- Vue -->
    <script src="/node_modules/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="/node_modules/vue/dist/vue.min.js"></script> -->
    <script src="/js/vue-scripts.js"></script>
    <script src="/js/portfolio.js"></script>
    <!-- /Vue -->

</body>

</html>