<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>ASST</title>
</head>

<body>

    <div class="container-fluid">
        <div id="navibar">
            <div class="overlay-menu" v-bind:class="{ open: isMenuOpen }">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Портфель 1</li>
                    <li class="list-group-item">Портфель 2</li>
                    <li class="list-group-item">Портфель 3</li>
                    <li class="list-group-item">Портфель 4</li>
                </ul>
            </div>
            <!--<div class="row justify-content-md-center" v-bind:class="{ open: isLoginOpen }">
                <div class="col-md-5">
                    <form>
                        <input />
                        <input />
                        <button>Войти</button>
                    </form>
                </div>
            </div>-->
            <div class="dropdown-login" v-bind:class="{ open: isLoginOpen }">
                <form>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Твой е-мейл" style="margin-bottom:1px">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Твой пароль">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Запомнить</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary col" style="margin-bottom: 1px">Войти</button>
                            <button type="submit" class="btn btn-primary col">Регистрация</button>
                        </div>
                    </div>
                </form>
            </div>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div class="col-6">
                    <div class="row">
                        <i v-on:click="buttonMenu" class="material-icons">menu</i>
                        <a>Портфель 1</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row" style="float: right;" v-bind:class="{ open: isLoginOpen }">

                        <!--  <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                            Sign In<span class="caret"></span>
                                        </a>
                                        <div class="dropdown-menu" id="formLogin">
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input class="form-control" name="username" id="username" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input class="form-control" name="password" id="password" type="password"><br>
                                                        </div>
                                                        <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#" data-toggle="modal" data-target='#modalRegister'>Register</a></li>
                                </ul> -->
                        <a>{{ userName }}</a>
                        <i v-on:click="buttonLogin" class="material-icons">person</i>
                    </div>
                </div>
            </nav>
        </div>
        <div id="content" class="container">
            <br>
            <div class="row">
                <div class="col">
                    <h1>Промо-информация</h1>
                    <img src="assets/img/promo-img.png" alt="promo-img" />
                    <div class="try-it">
                        <button type="button" class="btn btn-primary">TRY IT !!!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/bower_components/vue/dist/vue.js"></script>
    <!-- <script src="assets/bower_components/vue/dist/vue.min.js"></script> версия для продакшена-->
    <script src="assets/js/vue-scripts.js"></script>

</body>

</html>