<!DOCTYPE html>
<div id="navibar" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="dropdown-menu menu" v-bind:class="{ open: isMenuOpen }">
        <ul class="list-group list-group-flush">
            <!-- Пункты бокового меню -->
            <li class="list-group-item">
                <a th:href="@{/}">Главная</a>
            </li>
            <li th:if="${#httpServletRequest.userPrincipal != null}" class="list-group-item">
                <a th:href="@{/dashboard}">Мои портфели</a>
            </li>
            <li th:if="${#httpServletRequest.userPrincipal != null}" class="list-group-item">
                <a th:href="@{/user-info}">Информация о пользователе</a>
            </li>
            <li th:if="${#httpServletRequest.userPrincipal != null}" class="list-group-item">
                <a th:href="@{/logout}">Выход</a>
            </li>
            <li class="list-group-item">О проекте</li>
            <li class="list-group-item">Обратная связь</li>
            <li class="list-group-item">Часто задаваемые вопросы</li>
            <li class="list-group-item">…</li>
            <!-- /Пункты бокового меню -->
        </ul>
    </div>
    <div th:if="${#httpSession!= null}">
        <div class="dropdown-menu login" v-bind:class="{ open: isLoginOpen }">
            <!-- Форма входа -->
            <form name='f' th:action="@{/j_spring_security_check}" method="POST">
                <div th:if="${isAdmin == true}" class="form-group">
                    <a href="/admin" class="btn btn-primary col">Администрирование</a>
                </div>
                <div class="form-group">
                    <a href="/user-info" class="btn btn-primary col">Профиль</a>
                </div>
                <div class="form-group">
                    <a href="/logout" class="btn btn-primary col">Выйти</a>
                </div>
            </form>
            <!-- /Форма входа -->
        </div>
    </div>

    <div th:if="${#httpSession == null}">
        <div class="dropdown-menu login" v-bind:class="{ open: isLoginOpen }">
            <!-- Форма входа -->
            <form name='f' th:action="@{/j_spring_security_check}" method="POST">
                <div class="form-group">
                    <input id="navLoginInput" type="text" class="form-control" name="username" placeholder="Введите логин" onKeyUp="navLoginButtonLocker()" onChange="navLoginButtonLocker()" />
                    <!--<input type="email" class="form-control" name="username" placeholder="Введите e-mail" />-->
                </div>
                <div class="form-group">
                    <input id="navPasswordInput" type="password" class="form-control" name="password" placeholder="Введите пароль" onKeyUp="navLoginButtonLocker()" onChange="navLoginButtonLocker()" />
                </div>
                <div class="form-group">
                    <button id="navLoginButton" type="submit" class="btn btn-primary col">Войти</button>
                </div>
                <div class="form-group">
                    <a href="/registration" class="btn btn-primary col">Регистрация</a>
                </div>
            </form>
            <!-- /Форма входа -->
        </div>
    </div>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="col-6">
            <div class="row">
                <!-- Левая навигационная панель -->
                <i v-on:click="buttonMenu" class="material-icons">menu</i>
                <!-- <a>Портфель 1</a> -->
                <!-- /Левая навигационная панель -->
            </div>
        </div>
        <div class="col-6">
            <div class="row" style="float: right" v-bind:class="{ open: isLoginOpen }">
                <!-- Правая навигационная панель -->
                <div th:if="${#httpServletRequest.userPrincipal != null}">
                    <a>
                        <span th:utext="${#httpServletRequest.userPrincipal.name}"></span>
                    </a>
                </div>
                <div th:if="${#httpServletRequest.userPrincipal == null}">
                    <a>
                        <span th:utext="''"></span>
                    </a>
                </div>
                <i v-on:click="buttonLogin" class="material-icons">person</i>
                <!-- /Правая навигационная панель -->
            </div>
        </div>
    </nav>
</div>
<!-- Скрипт блокировки кнопки "Войти" до тех пор, пока не будут заполнены поля -->
<script type="text/javascript" src="/js/navLoginButtonLocker.js"></script>