<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- Стили -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/registration.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- /Стили -->

    <title>ASST – Регистрация</title>
</head>

<body>
    <div id="app" class="container-fluid">

        <!-- навигация -->
        <th:block th:include="/main_nav" />
        <!-- /навигация -->

        <!-- Контент -->
        <div id="content" class="container" style="margin-top:2px;">
            <form action="/registration" method="post">
                <div class="form-group">
                    <div class="row">
                        <div id="wand">
                            <img src="img/wand.png" />
                        </div>
                        <div class="col" style="margin-top:2px;">
                            <h1>Магическая регистрация</h1>
                            <form>
                                <div class="form-group">
                                    <label>Имя в системе:</label>
                                    <input type="text" class="form-control" id ="login" name="login" placeholder="Слово или e-mail на латинском алфавите" style="height: 43px !important; width: 98% !important; box-shadow: -1px 1px #6610f236;" onChange="checkPasswordMatch();" />
                                </div>
                                <div class="form-group">
                                    <label>Пароль в системе:</label>
                                    <input type="password" class="form-control" placeholder="Латинский алфавит, цифры и не только" id="psw" name="psw" onChange="checkPasswordMatch();" required="true" style="height: 43px !important; width: 98% !important; box-shadow: -1px 1px #6610f236;" /> <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"-->
                                </div>
                                <div class="form-group">
                                    <label> Повтор пароля:</label>
                                    <input type="password" class="form-control" id="psw2" name="psw2" onChange="checkPasswordMatch();" style="height: 43px !important; width: 98% !important; margin-bottom:1px; box-shadow: -1px 1px #6610f236;"/>
                                </div>
                                <!-- <img src="img/promo-img.png" alt="promo-img" /> -->
                            </form>
                        </div>
                        <div class="col-2">
                            <div id="message">
                                <strong>Рекомендации к паролю:</strong>
                                <p id="letter" class="invalid">Буква
                                    <b>нижнего</b> регистра</p>
                                <p id="capital" class="invalid">Буква
                                    <b>верхнего</b> регистра</p>
                                <p id="number" class="invalid">Цифра</p>
                                <p id="length" class="invalid">Не менее
                                    <b>8 символов</b>
                                </p>
                                <font color="#6c757d">
                                    <small>
                                        <p> Не используйте пароли, которые </p>
                                        <p>можно подобрать на основе персональной </p>
                                        <p>информации о вас </p>
                                    </small>
                                </font>
                            </div>
                            <div class="checkerInvalid" id="divCheckPasswordMatch"></div>
                        </div>
                        <div class="col-3">
                            <div class="try-it">
                                <button id ="next" type="submit" class="btn btn-primary" style="margin-left: -99px; disabled:true;">Далее →</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /Контент -->

    </div>
    <!-- Скрипт рекомендации по паролю -->
    <script type="text/javascript" src="/js/pswRecommendations.js"></script>
    <!-- Скрипт проверки паролей на совпадение. При совпадении активируется кнопка "Далее"-->
    <script type="text/javascript" src="/js/pswChecker.js"></script>

    <!--<p th:text="'Hellsdfsfsfsfdo, ' + ${name} + '!'" />
    <p th:text="'We already have a company:'" />
    <ul>
    <li th:each="user : ${users}" th:text="${user.name}" />
    </ul>
    -->

    <!-- Bootstrap-->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- /Bootstrap-->

    <!-- Vue -->
    <script src="/node_modules/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="/node_modules/vue/dist/vue.min.js"></script> -->
    <script src="/js/vue-scripts.js"></script>
    <!-- /Vue -->

</body>

</html>