<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- Стили -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/registration.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- /Стили -->

    <title>ASST – Регистрация</title>
</head>

<body>
    <div id="app" class="container-fluid">

        <!-- навигация -->
        <th:block th:include="/main_nav" />
        <!-- /навигация -->

        <!-- Контент -->
        <div id="content" class="container" style="margin-top:2px;">
            <form action="/hello" method="post">
                <div class="form-group">
                    <div class="row">
                        <div id="wand">
                            <img src="img/wand.png" />
                        </div>
                        <div class="col" style="margin-top:2px;">
                            <h1>Магическая регистрация</h1>
                            <form>
                                <div class="form-group">
                                    <label>Имя в системе:</label>
                                    <input type="email" class="form-control" name="login" placeholder="Слово или e-mail на латинском алфавите" />
                                </div>
                                <div class="form-group">
                                    <label>Пароль в системе:</label>
                                    <input type="password" class="form-control" placeholder="Латинский алфавит, цифры и не только" id="psw" name="psw" onChange="checkPasswordMatch();" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="true" />
                                </div>
                                <div class="form-group">
                                    <label> Повтор пароля:</label>
                                    <input type="password" class="form-control" style="margin-bottom:1px" id="psw2" name="psw2" onChange="checkPasswordMatch();" />
                                </div>
                                <!-- <img src="img/promo-img.png" alt="promo-img" /> -->
                            </form>
                        </div>
                        <div class="col-2">
                            <div id="message">
                                <strong>Рекомендации к паролю:</strong>
                                <p id="letter" class="invalid">Буква
                                    <b>нижнего</b> регистра</p>
                                <p id="capital" class="invalid">Буква
                                    <b>верхнего</b> регистра</p>
                                <p id="number" class="invalid">Цифра</p>
                                <p id="length" class="invalid">Не менее
                                    <b>8 символов</b>
                                </p>
                                <font color="#6c757d">
                                    <small>
                                        <p> Не используйте пароли, которые </p>
                                        <p>можно подобрать на основе персональной </p>
                                        <p>информации о вас </p>
                                    </small>
                                </font>
                            </div>
                            <div class="checkerInvalid" id="divCheckPasswordMatch"></div>
                        </div>
                        <div class="col-3">
                            <div class="try-it">
                                <button type="submit" class="btn btn-primary">Далее →</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /Контент -->

    </div>
    <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
    <script type="text/javascript">
        function checkPasswordMatch() {
            var password = $("#psw").val();
            var confirmPassword = $("#psw2").val();

            $(document).ready(function () {
                $("#psw, #psw2").keyup(checkPasswordMatch);
            });
            if (password == "" || confirmPassword == "") {
                $("#divCheckPasswordMatch").html("");
                document.getElementById("divCheckPasswordMatch").style.display = "none";
            }

            if (password != confirmPassword) {
                document.getElementById("divCheckPasswordMatch").style.borderLeft = "3px solid #dc3545";
                document.getElementById("divCheckPasswordMatch").style.display = "block";
                $("#divCheckPasswordMatch").html("Пароль повторён <b>не</b> верно");

            } else {
                document.getElementById("divCheckPasswordMatch").style.display = "block";
                document.getElementById("divCheckPasswordMatch").style.borderLeft = "3px solid #28a745";
                $("#divCheckPasswordMatch").html("Пароль повторён верно");
                if ((password == "") || (confirmPassword == "")) {
                    document.getElementById("divCheckPasswordMatch").style.display = "none";
                }

            }
        }
    </script>
    <!--<p th:text="'Hellsdfsfsfsfdo, ' + ${name} + '!'" />
<p th:text="'We already have a company:'" />
<ul>
    <li th:each="user : ${users}" th:text="${user.name}" />
</ul>
-->

    <!-- Bootstrap-->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- /Bootstrap-->

    <!-- Vue -->
    <script src="/node_modules/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="/node_modules/vue/dist/vue.min.js"></script> -->
    <script src="/js/vue-scripts.js"></script>
    <!-- /Vue -->

</body>

</html>